* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;

}

body {
  background-color: #f2f4f7;
  text-align: center;
}


.container {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;

}


form {
  width: 360px;
  margin: 0 auto;
}

.title {
  width: 450px;
  margin: 0 auto;
}


.title h1 {
  color: #116cff;
  font-size: 60px;
  font-weight: bold;
  margin: 20px;
}

.title p {
  font-size: 24px;
  margin: 20px;
}


.login {
  background: #ffffff;
  padding: 10px;
  border-radius: 8px;
  text-align: center;

}

.login input {
  width: 100%;
  padding: 14px;
  margin-bottom: 12px;
  font-size: 17px;
  border-radius: 6px;
  border: #ddd 1px solid;
}


.login-btn {
  width: 100%;
  padding: 14px;
  background-color: #0866ff;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
}

.login a {
  display: block;
  margin: 15px 0;
  color: #1877f2;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}

hr {
  margin: 20px 0px;
  border: 1px solid #DADDE1;
}

.create-btn {
  background-color: #42b72a;
  color: white;
  padding: 14px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  margin: 15px;
}

.create-page {
  font-size: 14px;
  margin-top: 20px;
}

.create-page a {
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}